<script>
import { GlNavbar, GlLink } from '@gitlab/ui';
import GlLogo from './logo.vue';

export default {
  components: {
    GlLink,
    GlLogo,
    GlNavbar,
  },
};
</script>

<template>
  <header>
    <gl-navbar
      fixed
      class="header gl-h-8 gl-z-index-2 gl-display-flex gl-justify-content-space-between gl-fixed gl-bg-theme-indigo-900 gl-px-5 gl-mb-0 gl-border-b-solid gl-border-b-1 gl-border-gray-200 gl-top-0 gl-left-0 gl-right-0"
      data-qa-selector="navbar"
    >
      <gl-logo />
      <div class="gl-display-inline-flex gl-align-items-center">
        <gl-link
          class="gl-p-3 gl-transition-slow gl-text-decoration-none! gl-font-weight-bold theme-indigo-200"
          href="https://support.gitlab.com/hc/en-us/requests/new"
        >
          Contact support
        </gl-link>
      </div>
    </gl-navbar>
  </header>
</template>
